.friendItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 16px;
  transition: all 0.2s linear;
  font-weight: unset;
  &:hover {
    background: #f7f7f7;
  }
}
.friendItem__text {
  text-align: left;
  span {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
    margin-top: 3px;
  }
}
