.room {
  background: #fff;
  height: 100%;
}
.room__header {
  display: flex;
  flex-direction: column;
}
.room__box {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
}

.room__content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
