.room {
  background: #fff;
  height: 100%;
}
.room__header {
  display: flex;
  flex-direction: column;
}
.room__box {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
}
.room__main {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.room__content {
  width: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
