.sidebar {
  height: 100vh;
  background: #fff;
  border-right: 1px solid rgb(219, 219, 219);
}
.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 18px 20px 18px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
  button {
    background: none;
    img {
      display: block;
      width: 25px;
      height: auto;
    }
  }
}
.sidebar__title {
  padding: 0 18px 20px 18px;
  font-size: 16px;
  font-weight: 600;
}
.sidebar__messages {
  height: calc(100vh - 120px);
  overflow: auto;
}
