.sidebar {
  height: 100vh;
  background: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 18px 20px 18px;
  span {
    font-size: 20px;
    font-weight: 600;
  }
  button {
    background: none;
    img {
      display: block;
      width: 25px;
      height: auto;
    }
  }
}
.sidebar__title {
  padding: 0 18px 20px 18px;
  font-size: 16px;
  font-weight: 600;
}
.sidebar__messages {
  padding-bottom: 20px;
}
